<html>
	<head>
<title> Login </title>
	</head>
	<body>
		<h1>hello there, welcome to my page</h1>
		<% if (locals.error){ % >
			<p> < %=error%></p> 
			
			< %} %>

			<form action="/process_login" method="post">
				<input type="text" name="username"><br/>
				<input type="password" name="password"><br/>
				<input type="submit" value="Login">
			</form>

		
	</body>
</html>